doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Memory
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    link(rel='stylesheet', href='/style.css')
  body
    .container
      .row
        .title
          h1 MemoryJS
          label Choose game size:
            select#sizeselect
              option 2x4
              option 3x4
              option 4x4
              option 4x5
              option 4x6
        .title
          label Choose time limit:
            select#timeselect
              option 15 secs.
              option 30 secs.
              option 45 secs.
              option 60 secs.
              option 75 secs.
        .title
          button#start Start Timer
        .title
          span#timer 0

    .container#gamecontainer
      
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')

    script(src='/vendor/lodash/lodash.js')
    script(src='/main.js')
    script(src='/models/tile.js')
